<table class="table table-hover">
  <tr>
    <td>{{ mails.type }}</td>
    <td>Title</td>
    <td>Content</td>
    <td></td>
  </tr>
  <tr ng-repeat="mail in mails.list | orderObjectBy:'received'">
    <td class="{{ mail.read|read }}">{{ mail.sender !== undefined ? mail.sender : mail.receivers }}</td>
    <td class="{{ mail.read|read }}"><a href="#/view/{{ mail.id }}">{{ mail.title }}</a></td>
    <td class="{{ mail.read|read }}">{{ mail.content.substring(0,28) }}...</td>
    <td class="{{ mail.sender === undefined ? 'hidden' : ''}}"><button class="btn btn-default" ng-click="mails.remove(mail.id)">X</button></td>
  </tr>
</table>
