body {
  background-color: #395F23;
}
.form-group label {
  display: block;
  color: white;
}
#inputview {
  width: 241px;
  display: inline;
}

#todo-table {
  padding: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: rgb(99, 131, 59);
  border: 2px solid green;
  border-radius: 25px;
}

#listview label {
  background-color: rgb(49, 84, 42);
  color: gray;
}

.todo {
  background-color: green !important;
  color: white !important;
}

#footerview {
  color: white;
}